<div class="container-fluid" style="padding-top: 40px; padding-bottom: 20px;">
    <div id="overlay" *ngIf="!menusCharger;">
        <div id="text">Chargement des entrées en cours...</div>
    </div> 

    <div class="row aff_mobile menu-details" *ngFor="let i of menus" style="margin-bottom: 20px;" >
        <div class="col-md-10 titre_menu_mobile">
            <div class="title d-flex">
                <h2>{{i.nom | uppercase}}</h2>
                <h2 class="price-detail hidden-md-up">{{i.prix}}</h2>
            </div>
            <p *ngIf="i.ingredient != '-'" >{{i.ingredient}}</p>
        </div>
        <div class="col-md-2 hidden-md-down" style="text-align: right;">
            {{i.prix}}
        </div>
    </div>
</div>
