<div class="container">

    <div class="row">
        <div class="col-md-2">
            
        </div>
        <div class="col-md-8">
            <div 
                data-packed="true" 
                class="txtNew" 
                id="comp-ikmq713k"
                style="margin-bottom: 50px;" 
            >
                <h4  
                    class="font_4" 
                    style="line-height:1.05em; text-align:center; font-size: 78px !important; margin-top: 40px;"
                >
                    <span id="font-mobile" style="letter-spacing:-0.05em;">
                        Présentation 
                    </span>
                </h4>
            </div>
            <div 
                data-packed="true" 
                class="txtNew home-description" 
                id="comp-ikmqg4b9" 
            >
                <p 
                    class="font_8" 
                >
                    Et licet quocumque oculos flexeris feminas adfatim multas spectare cirratas, quibus, si nupsissent, per aetatem ter iam nixus poterat suppetere liberorum, ad usque taedium pedibus pavimenta tergentes iactari volucriter gyris, dum exprimunt innumera simulacra, quae finxere fabulae theatrales.

                </p>
            </div>            
        </div>
        <div class="col-md-2">
            
        </div>
    </div>

</div>