<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
	<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<div style="background: #e8e8e8;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
				<div 
					data-packed="true" 
					class="txtNew" 
					id="comp-ikmsbhic" 
					style="margin-top: 50px;"
				>
					<h4 class="font_4" style="line-height:1em; text-align:center;">
						<a 
							href="#" 
							target="_self"
							style="color: #2F2E2E !important;" 
						>
							Mille sabords
						</a>
					</h4>
					<p 
						class="font_9" 
						style="line-height:1em; text-align:center;"
					>
						RESTAURANT
					</p>				
				</div>			
			</div>
			<div class="col-md-5" style="margin-top: 50px;">
				<p class="font_9">
					CONTACT
				</p>
				<p></p>

				<p class="font_9 color_15">
					Marine de Sant’ambroggio 20260 Lumio
				</p>
				<p></p>
				<p></p>

				<p class="font_9 color_15">
					04 95 60 68 74<br>
					Ouvert de 7H30 à 2h00 du matin
				</p>
				<p></p>
				<p></p>

				<p class="font_9">
					Moyen de paiement : CARTE BLEU , CHÈQUES, <br>TICKET RESTAURANT, CHÈQUES VACANCES
				</p>
				<p></p>

				<p class="font_9">
					Contactez nous sur contact@millessabords-leresto.com
				</p>
			</div>
		</div>	
	</div>
</div>


